<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tomas page</title>
</head>
<body>
    <h1 style="font-size:60px;">Size</h1>
    <p style="color:rgb(30,138,150);" title="I'm a tooltip">I am paragraph</p>
    <b>i am bold</b>
    <a style="background-color:rgb(219, 233, 221);" href="link"><br>This_is_link</a>
    <u><br>tesfa</u>    
     <ul>
        {% for i in productt%}
        <li>{{i.title  }}</li>
        {% endfor %}
    </ul>
    <ul>
        {% for i in pro%}
        <li>{{i.title}}</li>
        {% endfor %}
    </ul>

    <p style="color:rgb(179, 19, 19); font-size:30px;"> {{pro.LAST_UPDATE}}</p>
     
</body>
</html>